<h3 id="station-trades-header" class="pointer">Station Trades ({{stationTrades.trades.length || 0}} trades) {{stationTrades.time || 0}} ms</h3>
<div class="progress progress-striped active" ng-show="!stationTrades.trades">
    <div class="bar" style="width: 100%;"></div>
</div>
<table id="station-trades-table" class="table table-hover" ng-show="stationTrades.trades">
    <thead>
        <tr>
            <th>PROFIT (UNITE)</th>
            <th>PRIX ACHAT</th>
            <th>PROFIT (%)</th>
            <th>TYPE</th>
            <th>NOM</th>
            <th>LINKS</th>
            <th>ID</th>
            <th>DATE VENTE</th>
            <th>STATION</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stationTrade in stationTrades.trades" ng-class="getClass(stationTrade)">
            <td><span class="badge badge-success">{{stationTrade.profit | number}} ISK</span></td>
            <td><span class="badge badge-important">{{stationTrade.buyPrice | number}} ISK</span></td>
            <td><span class="badge badge-info">{{stationTrade.percentProfit}} %</span></td>
            <td><span class="badge badge-success">{{stationTrade.groupName}}</span></td>
            <td><input type="text" value="{{stationTrade.name}}"/></td>
            <td>
                <a href="http://eve-central.com/home/quicklook.html?typeid={{stationTrade.typeID}}"
                target="_blank">EC</a>&nbsp;/&nbsp;<a
                href="http://eve-marketdata.com/price_check.php?step=Show&type_id={{stationTrade.typeID}}&region_id={{hub.station.region.id}}&type=history"
                target="_blank">MD</a>
            </td>
            <td><span class="badge badge-important">{{stationTrade.typeID}}</span></td>
            <td><span class="badge badge-info">{{stationTrade.sellerHoursOld}} heures</span></td>
            <td><span class="badge badge-success">{{stationTrade.station}}</span></td>
        </tr>
    </tbody>
</table>